In [7]:
# Q1.
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [10]:
df.loc[1:1]

        course_name  duration
1  Machine Learning         3

In [14]:
# Q2

# loc : used to slice a piece of data based on the named index of data

import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['row1', 'row2', 'row3'])

# Selecting a specific row and column using named index/labels
print('Using loc : ',df.loc['row2', 'A'])


# iloc : used to slice a piece of data based on the numeric indexes 

import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Selecting a specific row and column using integer positions/numeric indexes
print('Using iloc : ',df.iloc[1, 0])

Using loc :  2
Using iloc :  2

In [15]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Reindexing the DataFrame
reindex_order = [3, 0, 1, 2]
new_df = df.reindex(reindex_order)

# Output for new_df.loc[2]
output_loc = new_df.loc[2]
print("Output for new_df.loc[2]:")
print(output_loc)

# Output for new_df.iloc[2]
output_iloc = new_df.iloc[2]
print("\nOutput for new_df.iloc[2]:")
print(output_iloc)

Output for new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

Output for new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [16]:
# new_df.loc[2]: This will look for the row with the label/index 2.

# new_df.iloc[2]: This will look for the row at integer position 2

In [17]:
# Q4

import pandas as pd
import numpy as np

# Define columns and indices
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a DataFrame
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Mean of each and every column present in the dataframe
column_means = df1.mean()
print("Mean of each column:")
print(column_means)

# (ii) Standard deviation of column 'column_2'
std_column_2 = df1['column_2'].std()
print("\nStandard deviation of 'column_2':")
print(std_column_2)

Mean of each column:
column_1    0.548451
column_2    0.572132
column_3    0.505939
column_4    0.441626
column_5    0.405846
column_6    0.522487
dtype: float64

Standard deviation of 'column_2':
0.20022297534820208

In [18]:
# Q5

import pandas as pd
import numpy as np

# Define columns and indices
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a DataFrame
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replace the data in the second row of 'column_2' with a string variable
replacement_string = 'NewString'
df1.loc[2, 'column_2'] = replacement_string

# Find the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()
print("Mean of 'column_2' after replacement:", mean_column_2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [19]:
# ## Explanation :
# df1.loc[2, 'column_2'] = replacement_string: This line replaces the data in the second row of 'column_2' with the
# value of the replacement_string. Note that this will result in the entire column being cast to object dtype 
# because now contains both numeric and string data.

# mean_column_2 = df1['column_2'].mean(): This line calculates the mean of 'column_2' after the replacement. 
# If there are no errors during execution, it means that Pandas has successfully handled the mixed data types 
# in the column.

In [20]:
# # Q6

# In Pandas, window functions are operations that are applied over a specified window of data points, often 
# used in time-series or sequential data analysis.
# The primary function for window operations in Pandas is rolling(), which is typically applied to a Series or 
# DataFrame. 

# Some common functins associated with the window operations :
#     mean()
#     sum()
#     std()
#     max()
#     min()
#     cumsum()
#     cumprod()

In [21]:
# Q7

from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Print the current month and year
current_month = current_datetime.strftime('%B')  # Full month name
current_year = current_datetime.strftime('%Y')

print(f"Current Month: {current_month}")
print(f"Current Year: {current_year}")

Current Month: January
Current Year: 2024

In [22]:
# Q8

import pandas as pd

def calculate_time_difference(start_date, end_date):
    # Convert input strings to datetime objects
    start_datetime = pd.to_datetime(start_date)
    end_datetime = pd.to_datetime(end_date)

    # Calculate the time difference
    time_difference = end_datetime - start_datetime

    # Extract days, hours, and minutes
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes, _ = divmod(remainder, 60)

    return days, hours, minutes

def main():
    # Prompt the user to enter two dates
    start_date = input("Enter the start date (YYYY-MM-DD): ")
    end_date = input("Enter the end date (YYYY-MM-DD): ")

    # Calculate the time difference
    days, hours, minutes = calculate_time_difference(start_date, end_date)

    # Display the result
    print(f"\nTime Difference: {days} days, {hours} hours, {minutes} minutes.")

if __name__ == "__main__":
    main()

Enter the start date (YYYY-MM-DD):  2024-01-01
Enter the end date (YYYY-MM-DD):  2024-01-26

Time Difference: 25 days, 0 hours, 0 minutes.

In [23]:
# Q9

import pandas as pd

def convert_to_categorical(file_path, column_name, category_order):
    # Read the CSV file
    df = pd.read_csv(file_path)

    # Convert the specified column to categorical with custom ordering
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Display the sorted data
    sorted_df = df.sort_values(by=[column_name])
    print("\nSorted Data:")
    print(sorted_df)

def main():
    # Prompt the user to enter file path, column name, and category order
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order_str = input("Enter the category order (comma-separated): ")
    category_order = [category.strip() for category in category_order_str.split(',')]

    # Convert to categorical and display sorted data
    convert_to_categorical(file_path, column_name, category_order)

if __name__ == "__main__":
    main()

Enter the CSV file path:  taxonomy.csv
Enter the column name to convert to categorical:  parent_name
Enter the category order (comma-separated):  High, Medium, Low

Sorted Data:
    taxonomy_id                          name parent_id parent_name
0           101                     Emergency       NaN         NaN
1        101-01             Disaster Response       101         NaN
2        101-02                Emergency Cash       101         NaN
3     101-02-01             Help Pay for Food    101-02         NaN
4     101-02-02       Help Pay for Healthcare    101-02         NaN
..          ...                           ...       ...         ...
285   111-01-07              Workplace Rights    111-01         NaN
286      111-02                     Mediation       111         NaN
287      111-03                        Notary       111         NaN
288      111-04                Representation       111         NaN
289      111-05  Translation & Interpretation       111         NaN

[290 rows x 4 columns]